* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(#1c0125, #1c0125aa)
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}